@import url('./main.css');
#app{
    padding-top: 4rem;
    background-color: #ededed;
}
.affiliate{
    max-width: 34rem;
}
.affiliate .headerBack{
    background-color: #009d80;
}
.affiliate .headerBack .title{
    color: #ffe800;
}
.tabs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    height: 2.2rem;
}
.tabs::-webkit-scrollbar{display: none;}
.tabs .tabItem{
    font-size: .8rem;
    color: #808080;
    flex: 1;
    display: flex;
    align-items: center;
}
.tabs .tabItem.active{
    box-shadow: inset 0 -1px #009d80;
}
.contentBox{
    display: none;
}
.contentBox.active{
    display: block;
}
.contentBox .card{
    border: none;
    margin-bottom: .8rem;
}
.contentBox .card .card-header{
    background-color: #fff;
    color: #808080;
    display: flex;
    align-items: center;
}
.contentBox .card .modalBtn{
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: #f9a21a;
    border: none;
    padding: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentBox .card ul{
    justify-content: space-between;
    margin-bottom: 0;
}
.contentBox .card .num{
    font-size: 1.1rem;
    font-weight: bold;
}
.contentBox .card .mainTitle{
    font-size: .7rem;
    color: #808080;
}
.contentBox .card.committee .vip{
    background-color: #f5f5f5;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentBox .card.committee .vip .leve{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: .1rem;
    background: url('../images/icon/crown.png') no-repeat center center / contain;
}
.contentBox .card.committee .vip .leve span{
    color: var(--fff);
    font-size: 1.2rem;
}
.contentBox .card.committee .vip .acting{
    text-align: center;
    color: #009d80;
    font-size: .6rem;
}
.contentBox .card.committee .commission li{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.contentBox .card.committee .wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentBox .card.committee .wallet button{
    font-size: .7rem;
}
.contentBox .card.committee .wallet .tip{
    font-size: .7rem;
}
.contentBox .card.share ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contentBox .card.share li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentBox .card.share li span{
    font-size: .7rem;
    color: #727272;
}
.contentBox .card.share .shareLink .tip{
    font-size: .9rem;
}
.contentBox .card.share .shareLink .copyUrl{
    background-color: #f9f9f9;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentBox .card.share .shareLink .copyUrl .url{
    color: #808080;
    font-size: .9rem;
}
.contentBox .card.share .shareLink .copyUrl .copyBtn{
    color: #40a1de;
    font-size: .9rem;
}
.contentBox .card.service .card-header{
    font-size: .8rem;
}
.contentBox .card.service .text{
    font-size: .72rem;
    line-height: 1.8;
}
.contentBox .card.commission .hintTitle{
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
}
.contentBox .card.commission .imgContent{
    display: flex;
    align-items: center;
}
.contentBox .card.commission .imgContent span{
    color: red;
    font-size: .9rem;
}
.contentBox .card.commission .imgContent .rangeBar{
    width: 7rem;
}
.contentBox .card.commission .relationSchema li{
    font-size: .8rem;
}
.contentBox .card.commission .relationSchema li span{
    color: red;
}

.todayModal.modal .modal-title,
.totalModal.modal .modal-title{
    color: #009d81;
}
.modal .notice{color: #808080;}

.committeeModal .modal-content{
    background-color: #1f2024;
    color: #98a7b5;
}
.committeeModal .modal-content .modal-header{
    background-color: #17181c;
}
.committeeModal .modal-content .modal-title{
    color: #98a7b5;
    font-size: .95rem;
}
.committeeModal .table{
    background-color: #0e1319;
}
.committeeModal .table th,
.committeeModal .table td{
    color: #98a7b5;
    font-size: .9rem;
}
.committeeModal .table tbody td:nth-child(3){
    color: #db922b;
}

.committeeModal .wagerBlock{
    display: flex;
    font-size: .9rem;
    background-color: #25262b;
}
.committeeModal .wagerBlock .wagerPercent{
    font-size: 2rem;
    color: var(--fff);
}
.committeeModal .ruleList{
    font-size: .9rem;
    list-style-type: disc;
}

.commissionRulesModal .modal-header{
    background-color: #17181c;
    color: #98a7b5;
}
.commissionRulesModal .modal-header .modal-title{
    font-size: .8rem;
}
.commissionRulesModal .modal-body{
    background-color: #151d28;
    font-size: .9rem;
}
.commissionRulesModal .topBox{
    background: #151d28;
    border: 2px solid #1d2532;
    display: flex;
    flex-direction: column;
}
.commissionRulesModal .topBox .detail{
    display: flex;
    align-items: center;
}
.commissionRulesModal .topBox .detail .headWrap{
    position: relative;
    width: 5.2rem;
    height: 5.2rem;
}
.commissionRulesModal .topBox .detail .headWrap .headBox{
    border: 1px solid #ecae3d;
    border-radius: 50%;
    overflow: hidden;
}
.commissionRulesModal .topBox .detail .headWrap .level{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecae3d;
}

.commissionRulesModal .topBox .detail .detailDesc{
    display: flex;
    flex-direction: column;
    color: #5d6578;
}
.commissionRulesModal .topBox .detail .detailDesc .descNum span{
    color: #ecae3d;
}
.commissionRulesModal .topBox .fundList{
    color: var(--fff);
}
.commissionRulesModal .topBox .fundList .listItem{
    text-align: center;
}
.commissionRulesModal .topBox .fundList .listItem span{
    color: #ecae3d;
}


.commissionRulesModal .centerBox{
    height: 8.5rem;
}
.commissionRulesModal .centerBox .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.commissionRulesModal .centerBox .item.item1,
.commissionRulesModal .centerBox .item.item3{
    width: 10rem;
}
.commissionRulesModal .centerBox .item.item1{
    bottom: 14%;
    transform: rotate(330deg);
}
.commissionRulesModal .centerBox .item.item2{
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.commissionRulesModal .centerBox .item.item3{
    bottom: 14%;
    transform: rotate(30deg);
    right: 0;
}
.commissionRulesModal .centerBox .item .arrow{
    background-color: #ecae3d;
    border-radius: 5rem;
    width: 7rem;
    height: .4rem;
    position: relative;
}
.commissionRulesModal .centerBox .item .arrow::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -14%;
    border-top: .6rem solid rgba(0, 0, 0, 0);
    border-bottom: .6rem solid rgba(0, 0, 0, 0);
    border-left: 1.3rem solid #ecae3d;
    border-radius: .2rem;
    transform: translate(0,-50%);
}
.commissionRulesModal .centerBox .item.item2 .arrow{
    transform: rotate(-90deg);
    width: 4.2rem;
    position: absolute;
    bottom: 3.5rem;
}
.commissionRulesModal .centerBox .item.item3 .arrow{
    transform: rotate(180deg);
}
.commissionRulesModal .centerBox .item .fundDesc{
    text-align: center;
    color: var(--fff);
    font-size: .8rem;
}
.commissionRulesModal .centerBox .item .fundDesc span{
    color: #ecae3d;
}
.commissionRulesModal .layer{
    color: #5d6578;
}
.commissionRulesModal .layer .layerItem{
    position: relative;
}
.commissionRulesModal .layer .layerItem::before{
    content: '';
    position: absolute;
    width: 86%;
    height: 82%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: inset 0 0 0 1px #3c434c;
    border-radius: 0.5rem;
}
.commissionRulesModal .layer .headWrap{
    position: relative;
    width: 5.2rem;
    height: 5.2rem;
    margin: 0 auto;
}
.commissionRulesModal .layer .headWrap .headBox{
    border: 1px solid #1761e6;
    border-radius: 50%;
    overflow: hidden;
}
.commissionRulesModal .layer .headWrap .level{
    background-color: #1761e6;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commissionRulesModal .layer .descTxt{
    text-align: center;
}
.commissionRulesModal .layer .descTxt span{
    color: #ecae3d;
}
.commissionRulesModal .layer .descFund{
    color: var(--fff);
    text-align: center;
}
.commissionRulesModal .arrowBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
}
.commissionRulesModal .arrowBox .arrow{
    position: relative;
    background-color: #ecae3d;
    border-radius: 5rem;
    height: .4rem;
}
.commissionRulesModal .arrowBox .arrow.arrow1{
    width: 3rem;
    transform: rotate(-90deg);
}
.commissionRulesModal .arrowBox .arrow.arrow2{
    width: 7rem;
    transform: rotate(208deg);
}
.commissionRulesModal .arrowBox .arrow.arrow3{
    width: 3rem;
    transform: rotate(-90deg);
}
.commissionRulesModal .arrowBox .arrow::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -14%;
    border-top: .6rem solid rgba(0, 0, 0, 0);
    border-bottom: .6rem solid rgba(0, 0, 0, 0);
    border-left: 1.3rem solid #ecae3d;
    border-radius: .2rem;
    transform: translate(0,-50%);
}
.commissionRulesModal .fundLayer{
    color: var(--fff);
    text-align: center;
    font-size: .7rem;
}
.commissionRulesModal .fundLayer span{
    color: #ecae3d;
    font-size: .9rem;
}
.commissionRulesModal .ruleDesc{
    color: var(--fff);
}
.affiliateWindows .main{
    background-color: var(--fff);
    height: calc(100vh - 12rem);
    display: none;
    border-radius: .3rem;
}
.affiliateWindows .main.active{
    display: block;
}
.affiliateWindows table{
    font-size: .9rem;
}
.affiliateWindows table th{
    color: #808080;
    font-weight: bold;
    font-size: .8rem;
    padding: 0;
}
.affiliateWindows .noData{
    text-align: center;
    font-size: .9rem;
    color: #969799;
    border: none;
    display: none;
}
.affiliateWindows .noData.active{display: table-cell;}
.fqaContent{
    background-color: var(--fff);
    border-radius: .5rem;
    font-size: .9rem;
    display: none;
}
.fqaContent.active{display: block;}
.fqaContent h2{
    color: #383838;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #bdbdbd;
}
.fqaContent .text{
    color: grey;
}
.fqaContent .linkBtn{
    color: #009d80;
}
.fqaContent .imgContent{
    display: flex;
    align-items: center;
}
.fqaContent .imgContent span{
    color: red;
}
.fqaContent .relationSchema ul{
    list-style: decimal ;
}
.fqaContent .relationSchema li span{
    color: red;
}
.referContent .time{
    width: 43%;
    height: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
}
.referContent .total{
    display: flex;
    justify-content: flex-end;
}
.referContent .total .num{
    font-size: 1.3rem;
    font-weight: bold;
}
.referContent .total span{
    color: grey;
    font-size: .8rem;
}