@import url('./reset.css');
@import url('./bootstrap.min.css');
:root{
    --black1: #24262b;
    --black2:#1c1e22;
    --black3:#1a1c20;
    --fff: #FFFFFF;
    --gray: #98a7b5;
    --primary: #3bc117;
    --greenGradient: linear-gradient(180deg,#278e47,#64d23e);
    --redGradient: linear-gradient(180deg,#8b0000,#d23e3e);
}
#app{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: var(--black1);
    padding-top: 4rem;
    min-height: 100%;
}
#app.widthLimit{
    max-width: 34rem;
}
body{
    font-size: 16px;
    background-color: var(--fff);
}
hr{background-color: var(--fff);}

header{
    width: 100%;
    max-width: 34rem;
    top: 0;
    background-color: var(--black1);
    z-index: 2;
    height: 4rem;
}
header .logo img{
    height: 2.5rem;
}
header .loginBtn{
    border: none;
    color: var(--fff);
    background: var(--greenGradient);
}
.banner{
    position: relative;
    padding-bottom: 2.5rem;
}
.swiper-pagination-bullet{background-color: #979797 !important;}
.swiper-pagination-bullet-active{background-color: var(--fff) !important;}
.marquee .marqueeContent{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee .marqueeContent span{
    color: var(--primary);
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.searchBox{
    background-color: #191919;
}
.searchBox input{
    color: var(--gray);
    background-color: transparent;
}
.title{
    color: var(--fff);
}
.recentListSwiper .main{
    background-color: var(--black2);
}
.recentListSwiper .main .name{
    font-size: .8rem;
    color: var(--gray);}
.recentListSwiper .main .money{
    font-size: .8rem;
    color: var(--primary);}
.tabHome{
    overflow-x: auto;
}
.tabHome::-webkit-scrollbar{display: none;}
.tabHome ul{
    display: flex;
}
.tabHome li{background-color: var(--black2);}
.tabHome li span{
    font-size: .8rem;
    white-space: nowrap;
    color: var(--gray);
}
.gameMain .topContent .total{
    color: var(--fff);
    background-color: var(--black2);
    font-size: .8rem;
}
.gameMain .button-prev,
.gameMain .button-next{
    background-color: var(--black2);
}
.footer{
    background-color: var(--black3);
    padding-bottom: 8rem;
}
.footer .bottomLogo{
    display: flex;
    justify-content: center;
}
.footer .bottomLogo img{
    height: 2.5rem;
}
.footer .customerService{
    display: flex;
    justify-content: center;
}
.footer .customerService img{
    width: 2.5rem;
    height: 2.5rem;
}
.footer .share span{
    color: var(--gray);
    font-size: .6rem;
    text-align: center;
}
.footer .share img{
    width: 2.5rem;
    height: 2.5rem;
}
.footerBottom a{
    font-size: .8rem;
    color: var(--gray);
}
.footerBottom .license{
    text-align: center;
    font-size: .8rem;
    color: var(--gray);
}
.footerBottom .license a{
    color: var(--fff);
}
.footerBottom .warnContent{
    font-size: .8rem;
    color: var(--gray);
}
.footerBottom .support{
    position: relative;
    font-size: .8rem;
}
.footerBottom .support .text{color: var(--gray);}
.footerBottom .support .email{color: var(--fff);}
.footerBottom .favorite{
    line-height: .45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    right: 0.2rem;
    bottom: 0.34rem;
    font-size: .2rem;
    color: #fff;
    background: #da2d4b;
}
.footerBottom .message{
    line-height: .45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    bottom: 8rem;
    font-size: .2rem;
    color: #fff;
    background: #2f7dea;
    z-index: 3;
}
.footerBottom .topBtn{
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black1);
    color: var(--fff);
    font-size: .8rem;
}
.bottomMenu{
    width: 100%;
    max-width: 34rem;
    bottom: 0;
    height: 4rem;
    z-index: 1;
    background-color: var(--black2);
}
.bottomMenu ul{
    box-sizing: border-box;
}
.bottomMenu ul li{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottomMenu ul li .bottomMenuName{
    color: var(--gray);
    font-size: .7rem;
}
.bottomMenu .active svg,
.bottomMenu .active .bottomMenuName{
    color: var(--primary);
    fill: var(--primary);
}
.addHomeWindow{
    width: 100%;
    max-width: 34rem;
    background-color: var(--black2);
    color: var(--gray);
    z-index: 3;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    border: none;
}
.addHomeWindow img{
    width: 4rem;
    height: 4rem;
}
.addHomeWindow .continueBtn{
    border: none;
    color: var(--fff);
    background: var(--greenGradient);
}

/* 主選單 */
.mainMenu{
    font-size: .8rem;
    width: 100%;
    border: none;
    background-color: #17191b;
    color: var(--gray);
}
.mainMenu li{
    display: flex;
    align-items: center;
    line-height: 3rem;
}
.mainMenu .logo{
    height: 2.5rem;
}
.mainMenu .gameLink .download img{
    height: 2.2rem;
}
.mainMenu li .icon{
    margin-right: 1.5rem;
    width: 1.2rem;
    height: 1.2rem;
}
.mainMenu .pageLink{
    background-color: #24262b;
}
.mainMenu .pageLink .installBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--redGradient);
    color: var(--fff);
    border-radius: .2rem;
    width: 5rem;
    height: 2rem;
}
.mainMenu .socialLink{
    background-color: #24262b;
}
.mainMenu .socialLink img{
    width: 2.5rem;
    height: 2.5rem;
}
.mainMenu .helpLink{
    background-color: #24262b;
}