@import url('./reset.css');
@import url('./bootstrap.min.css');
:root{
    --black1: #24262b;
    --black2:#1c1e22;
    --black3:#1a1c20;
    --black4: #191919;
    --fff: #FFFFFF;
    --gray1: #98a7b5;
    --gray2: #494949;
    --blue: #8ea7bb;
    --primary: #3bc117;
    --greenGradient: linear-gradient(180deg,#278e47,#64d23e);
    --redGradient: linear-gradient(180deg,#8b0000,#d23e3e);
}
#app{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: var(--black1);
    padding-top: 4rem;
    min-height: 100%;
}
#app.widthLimit{
    max-width: 34rem;
}
body{
    font-family: "Helvetica Neue",Helvetica,'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif;
    font-size: 16px;
    background-color: var(--fff);
}
hr{
    background-color: var(--fff);
}
a{
    cursor: pointer;
    text-decoration: none;
}
.btn:focus{
    box-shadow: none;
}
.form-control{
    border: none;
    background-color: var(--black3);
}
.form-control:focus{
    background-color: var(--black4);
    box-shadow: 0 0 0 1px var(--primary);
    color: var(--fff);
}
header{
    width: 100%;
    max-width: 34rem;
    top: 0;
    background-color: var(--black1);
    z-index: 2;
    height: 4rem;
}
header .logo img{
    height: 2.5rem;
}
header .loginBtn{
    border: none;
    color: var(--fff);
    background: var(--greenGradient);
}
header .right{
    display: flex;
    align-items: center;
}
header .right .userMoney{
    display: flex;
    align-items: center;
    color: var(--blue);
}
header .right .userMoney img{
    width: 1.5rem;
}
header .right .depositBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,#5519cd,#9449ff);
    color: var(--fff);
    font-size: .8rem;
    height: 2rem;
    width: 6rem;
    border-radius: .2rem;
}
header .right .userBtn{
    border: none;
    background-color: #1f1f1f;
    width: 2rem;
    height: 2rem;
}
.banner{
    position: relative;
    padding-bottom: 2.5rem;
}
.swiper-pagination-bullet{background-color: #979797 !important;}
.swiper-pagination-bullet-active{background-color: var(--fff) !important;}
.marquee .marqueeContent{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee .marqueeContent span{
    color: var(--primary);
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.searchBox{
    position: relative;
    background-color: #191919;
}
.searchBox .searchIcon{
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translate(0,-50%);
}
.searchBox input{
    color: var(--gray1);
    background-color: transparent;
}
.title{
    color: var(--fff);
}
.recentListSwiper .main{
    background-color: var(--black2);
}
.recentListSwiper .main .name{
    font-size: .8rem;
    color: var(--gray1);}
.recentListSwiper .main .money{
    font-size: .8rem;
    color: var(--primary);}
.tabHome{
    overflow-x: auto;
}
.tabHome::-webkit-scrollbar{display: none;}
.tabHome ul{
    display: flex;
}
.tabHome li{background-color: var(--black2);}
.tabHome li span{
    font-size: .8rem;
    white-space: nowrap;
    color: var(--gray1);
}
.gameMain .topContent .total{
    color: var(--fff);
    background-color: var(--black2);
    font-size: .8rem;
}
.gameMain .button-prev,
.gameMain .button-next{
    background-color: var(--black2);
}
.footer{
    background-color: var(--black3);
    padding-bottom: 8rem;
}
.footer .bottomLogo{
    display: flex;
    justify-content: center;
}
.footer .bottomLogo img{
    height: 2.5rem;
}
.footer .customerService{
    display: flex;
    justify-content: center;
}
.footer .customerService img{
    width: 2.5rem;
    height: 2.5rem;
}
.footer .share span{
    color: var(--gray1);
    font-size: .6rem;
    text-align: center;
}
.footer .share img{
    width: 2.5rem;
    height: 2.5rem;
}
.footerBottom a{
    font-size: .8rem;
    color: var(--gray1);
}
.footerBottom .license{
    text-align: center;
    font-size: .8rem;
    color: var(--gray1);
}
.footerBottom .license a{
    color: var(--fff);
}
.footerBottom .warnContent{
    font-size: .8rem;
    color: var(--gray1);
}
.footerBottom .support{
    position: relative;
    font-size: .8rem;
}
.footerBottom .support .text{color: var(--gray1);}
.footerBottom .support .email{color: var(--fff);}
.footerBottom .favorite{
    line-height: .45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    right: 0.2rem;
    bottom: 0.34rem;
    font-size: .2rem;
    color: #fff;
    background: #da2d4b;
}
.footerBottom .message{
    line-height: .45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    bottom: 8rem;
    font-size: .2rem;
    color: #fff;
    background: #2f7dea;
    z-index: 3;
}
.footerBottom .topBtn{
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black1);
    color: var(--fff);
    font-size: .8rem;
}
.bottomMenu{
    width: 100%;
    max-width: 34rem;
    bottom: 0;
    height: 4rem;
    z-index: 1;
    background-color: var(--black2);
}
.bottomMenu ul{
    box-sizing: border-box;
}
.bottomMenu ul li{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottomMenu ul li .bottomMenuName{
    color: var(--gray1);
    font-size: .7rem;
}
.bottomMenu .active svg,
.bottomMenu .active .bottomMenuName{
    color: var(--primary);
    fill: var(--primary);
}
.addHomeWindow{
    width: 100%;
    max-width: 34rem;
    background-color: var(--black2);
    color: var(--gray1);
    z-index: 3;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    border: none;
}
.addHomeWindow img{
    width: 4rem;
    height: 4rem;
}
.addHomeWindow .continueBtn{
    border: none;
    color: var(--fff);
    background: var(--greenGradient);
}

/* 主選單 */
.mainMenu{
    font-size: .8rem;
    width: 100%;
    border: none;
    background-color: #17191b;
    color: var(--gray1);
}
.mainMenu li{
    display: flex;
    align-items: center;
    line-height: 3rem;
}
.mainMenu .logo{
    height: 2.5rem;
}
.mainMenu .gameLink .download img{
    height: 2.2rem;
}
.mainMenu li .icon{
    margin-right: 1.5rem;
    width: 1.2rem;
    height: 1.2rem;
}
.mainMenu .pageLink{
    background-color: #24262b;
}
.mainMenu .pageLink a{
    color: var(--gray1);
}
.mainMenu .pageLink .installBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--redGradient);
    color: var(--fff);
    border-radius: .2rem;
    width: 5rem;
    height: 2rem;
}
.mainMenu .socialLink{
    background-color: #24262b;
}
.mainMenu .socialLink img{
    width: 2.5rem;
    height: 2.5rem;
}
.mainMenu .helpLink{
    background-color: #24262b;
}
/* 個人選單 */
.profileWindow .offcanvas-header{
    background-color: var(--black1);
    height: 4rem;
}
.profileWindow .offcanvas-header img{
    height: 2.5rem;
}
.profileWindow .offcanvas-body{
    overflow: initial;
    background-color: #1f1f1f;
}
.profileWindow .main .userContent{
    color: var(--blue);
}
.profileWindow .main .userContent .userImg img{
    width: 3rem;
}
.profileWindow .main .userContent .changePassword{
    color: var(--blue);
}
.profileWindow .main .userContent .keyIcon{
    width: 1rem;
    padding-bottom: 1rem;
    background: url('../images/icon/key.png') no-repeat center center / contain;
}
.profileWindow .main .coin{
    color: var(--blue);
}
.profileWindow .main .coin::before{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #4c4c4c;
    transform: translate(-50%,0);
}
.profileWindow .main .coin .num{
    color: var(--fff);
}
.profileWindow .main .link a{
    width: 7rem;
    height: 2.2rem;
    color: var(--fff);
    border-radius: .2rem;
    font-size: .8rem;
    background: linear-gradient(180deg,#303030,#494949);
}
.profileWindow .main ul{
    background-color: #2d3035;
}
.profileWindow .main ul li{
    width: 50%;
    display: flex;
    align-items: center;
}
.profileWindow .main ul li .icon{
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.5rem;
}
.profileWindow .main ul li a{
    color: var(--blue);
    font-size: .7rem;
}
.profileWindow .main .logOut{
    display: flex;
    align-items: center;
    color: var(--blue);
    font-size: .8rem;
}
.profileWindow .main .logOut img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}