@import url('./main.css');
.app{
    background-color: var(--black2);
    height: 100vh;
    padding-top: 4rem;
}
.resetPhoneTitle{
    color: var(--primary);
    text-align: center;
    font-size: 1.2rem;
}
.text{
    color: var(--fff);
    text-align: center;
    font-size: .8rem;
}
.phoneInput input{
    color: #868686;
    text-indent: 3rem;
}
.phoneInput span{
    position: absolute;
    left: 1rem;
    top: 0.55rem;
    color: #4d565e;
}
.loginBtn{
    background: var(--greenGradient);
    color: var(--fff);
    border: none;
    opacity: .4;
    border-radius: 2px;
    padding: 0.56rem 0;
}
.loginBtn.active{
    opacity: 1;
}