@import url('./main.css');
#app{
    padding-top: 4rem;
}
.withdrawWindows{
    font-size: .8rem;
    width: 100%;
    border: none;
    background-color: #24262b;
    color: var(--gray1);
    padding-bottom: 7rem;
}
.withdrawWindows .pixInfo{
    color: #b4c0cb;
}
.withdrawWindows .channelContainer{
    overflow: auto;
}
.withdrawWindows .channelContainer::-webkit-scrollbar{display: none;}
.withdrawWindows .channelContainer .channelItem{
    color: #8ea7bb;
    background: #232323;
    border-radius: .4rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
}
.withdrawWindows .channelContainer .channelItem.active{
    box-shadow: inset 0 0 0 1px #8399ac80;
}
.withdrawWindows .channelContainer .channelItem .pixInfo{
    color: #9e9e9e;
}
.withdrawWindows .channelContainer .channelItem .pixImg{
    height: 2.2rem;
    margin-right: 1rem;
}
.withdrawWindows .channelContainer .channelItem span{
    white-space: nowrap;
}
.withdrawWindows .withdrawTips li{
    list-style-type: decimal;
}
.withdrawWindows label{color: #aab3ba;}
.withdrawWindows input{
    padding: .5rem .8rem;
    color: var(--blue);
}
.inputBg{
    background-color: var(--black3);
}
.accountBtn,
.cpfSwitchBtn{
    background-color: initial;
    border: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    color: var(--fff);
}
.withdrawWindows input:focus{
    color: #868686;
    background-color: var(--black3);
    box-shadow: none !important;}
.withdrawWindows .withdrawMain .tipsClose{
    left: 1rem;
    top: 50%;
    color: var(--blue);
    transform: translate(0,-50%);
}
.withdrawWindows .withdrawMain input{
    text-indent: 6.5rem;
}
.withdrawWindows .withdrawMain .slot .tip{
    color: #ffa200;
}
.withdrawWindows .withdrawMain .slot .toHome{
    color: var(--primary);
}
.withdrawWindows .confirmBtn{
    background: var(--greenGradient);
    color: var(--fff);
    border: none;
    opacity: .4;
    border-radius: 2px;
    padding: 0.56rem 0;
}
.withdrawWindows .confirmBtn.active{opacity: 1;}
/* 獎金優惠視窗 */
.withdrawWindows .BonusProdressModal{
    color: var(--gray1);
    background-color: #3f3e3e;
}
.withdrawWindows .BonusProdressModal .modal-title{
    font-size: 1.2rem;
}
.withdrawWindows .BonusProdressModal .modal-title .modalHeaderIicon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #b9b9b9;
}
.withdrawWindows .BonusProdressModal .modal-body{
    font-size: .8rem;
}
.withdrawWindows .BonusProdressModal .progressContent{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.withdrawWindows .BonusProdressModal .progressContent .progress{
    height: 0.6rem;
    width: 85%;
}
.withdrawWindows .BonusProdressModal .progressContent .progress .progress-bar{
    background-color: #009d81;
}
.withdrawWindows .BonusProdressModal .progressContent span{
    color: var(--primary);
    font-size: 1.2rem;
}
.switchWindow{
    background-color: #353535;
    height: auto;
}
.switchWindow button{
    background-color: #262728;
    color: var(--gray1);
}
.switchWindow button.closeBtn{color: #646566;}
.switchWindow button.active{color: var(--primary);}